table {
	border-collapse: collapse;
}

.bordered {
	border-style: solid;
	border-width: 1px;
}

/* Most recent suggested fix for highlighted clicked buttons in Mozilla. Placeholder. */
:focus {outline:none;}
::-moz-focus-inner {border:0;}